{{ form_start(form, {'attr': {'class': 'tm-edit-product-form'}}) }}

<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">{{ title|default('Ajouter categorie') }}</h2>

					</div>
				</div>

				<div class="row tm-edit-product-row">
					<div class="col-xl-6 col-lg-6 col-md-12">
						<div class="form-group mb-3">
							{{ form_label(form.name, 'Nom de categorie') }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control validate', 'required': true}}) }}
						</div>
					</div>

					<div class="col-12">
						<a href="{{ path('app_product_index') }}" class="btn btn-danger btn-block text-uppercase">Cancel</a>
						<button type="submit" class="btn btn-primary btn-block text-uppercase">{{ button_label|default('Save') }}</button>


					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{{ form_end(form) }}
