{% extends 'base2.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="row tm-content-row">
			<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
				<div class="tm-bg-primary-dark tm-block tm-block-products">
					<div class="tm-product-table-container">
						<h2 class="tm-block-title">List des produits</h2>
						<table class="table table-hover tm-table-small tm-product-table">
							<thead>
								<tr>
									<th>Produit</th>
									<th>Prix</th>
									<th>Stock</th>
									<th>Categorie</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
									<tr>
										<td>{{ product.name }}</td>
										<td>{{ product.price }}</td>
										<td>{{ product.stock }}</td>
										<td>{{ product.category.name }}</td>
										<td class="text-center">
											<div class="d-flex">
												<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-success btn-circle" title="Show" target="_blank">
													<i class="fas fa-eye"></i>
												</a>
												<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-info btn-circle" title="Edit">
													<i class="fas fa-edit"></i>
												</a>
												{{ include('product/_delete_form.html.twig') }}
											</div>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="4">no records found</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
					<!-- table container -->
					<a href="{{ path('app_product_new') }}" class="btn btn-primary btn-block text-uppercase mb-3">Ajouter produit</a>

				</div>
			</div>


			<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
				<div class="tm-bg-primary-dark tm-block tm-block-product-categories">
					<h2 class="tm-block-title">Categories des produits</h2>
					<div class="tm-product-table-container">
						<table class="table tm-table-small tm-product-table">
							<tbody>


								{% for category in categories %}
									<tr>
										<td class="tm-product-name">{{ category.name }}</td>
										<td class="text-center">
											<div class="d-flex">
												<a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-info btn-circle" title="Edit">
													<i class="fas fa-edit"></i>
												</a>
												{{ include('category/_delete_form.html.twig') }}
											</div>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="3">no records found</td>
									</tr>
								{% endfor %}


							</tbody>
						</table>
					</div>
					<!-- table container -->

					<a href="{{ path('app_category_new') }}" class="btn btn-primary btn-block text-uppercase mb-3">Ajouter categorie</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
